html {
    font-size: clamp(12px, 1.4vw, 28px);
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url('resources/fonts/Roboto-Regular.woff') format('woff2'),
        url('resources/fonts/Roboto-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}





.main-container {
    font-family: 'Roboto';
    display: grid;
    font-size: clamp(14px, 1.4vw, 24px);
    grid-template-columns: 2fr 8fr;
    height: 100vh;
}

.title svg {
    fill: white;
    height: 36px;
}

.search-bar svg {
    fill:rgb(69, 69, 69);
    height: 1.5rem;
}

.user-info {
    display: flex;
    align-items: center;
    gap:7px;
}

header img {
    border-radius: 30px;
}

.bottom-header{
    display: flex;
    justify-content:space-between;    
    grid-column: 1/3;
}

.bottom-header-left {
    display: flex;
    gap:15px;
    font-weight: 700;
    align-items: center;
}



.greetings-section > div:first-child{
    font-size: 12px;
}

.greetings-section > div:last-child{
    margin-top: 5px;
}


li svg,
.user-info svg {
    fill: white;
    height: 20px;
}

.title {
    display: flex;

}

aside > div {
    margin-top: 1rem;
}

.title {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left:0.8rem;
}


.navigation, .branding {
    margin-top: 2rem;
    margin-left:2rem;
}

li:hover {
    cursor: pointer;
    color:rgb(184, 206, 225);
}



li {
    display: flex;
    align-content: center;
    gap:20px;
    margin-top: 0.7rem;
}

article * {
    border: 1px solid black;
}

header {
    padding: 15px 30px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    gap:10px;
    max-height: 200px;
    box-shadow: 5px 2px  rgb(182, 182, 182);
    position: relative;
    z-index: 10;
}

main {
    display: flex;
    flex-direction: column;
}

aside {
    color:white;
    background-color: #1992d4;
}

article {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1rem;
}

.projects {
    display: grid;
    grid-row:1/5;
    grid-template-columns: repeat(2, minmax(200px, 50%));
    grid-auto-rows: minmax(200px, 25%);
    justify-content:space-between;
    gap: 3rem;
    padding:1rem;
}


.announcements {
    grid-column: 2/3;
    grid-row: 1/3;
}

.trending {
    grid-column: 2/3;
    grid-row: 3/5;
}

.card  {
    display: flex;
    flex-direction: column;
    padding: 0.7rem;
    background-color:white;
    border-radius: 5px;
    border-left: 10px solid rgb(235, 189, 4);
    overflow-y: auto;
}

h4{
    font-size:0.8rem;
    margin-top: 0.6rem;
}

.card p {
    font-size:0.7rem;
    color:rgb(121, 121, 121);
    margin-top:0.3rem;
}

.prj-icons {
    align-self: flex-end;
    margin-top: auto;
}

.prj-icons svg{
    margin-left:1rem;
}

.card svg {
    width:clamp(20px,1.2rem, 40px);
    fill:#464646;
}

.search-bar {
    display: flex;
    align-items: center;
    gap:7px;
}

input[type="text"] {
    height: clamp(9px,1.5rem,30px);
    width: clamp(250px,30rem,700px);
    border-radius: 1.2rem;
    background-color: rgb(220, 220, 220);
    border: none;
    font-size: 1rem;
    padding: 10px;

}

article {
    background-color: rgb(219, 225, 227);
    flex-grow: 1;
}

.button-section{
    display: flex;
    gap:10px;
    align-items: center;
    margin-right: 40px;
}

button {
    padding: 5px;
    width: clamp(70px, 5vw, 120px);
    color: white;
    background-color: #1992D4;
    border-radius:20px;
    border:none;
}

